<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OLAPark"
        tools:targetApi="31">

        <service android:name=".ActivityRecognitionService"/>
        <service
            android:name=".GeofenceTransitionsIntentService"
            android:exported="false" />


        <!--android:name=".App",
         <service android:name=".ActivityRecognitionService"/> and
         <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
         so that the service can run-->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBWzhZkDZHP1UF4ufvLhZ0y50NYK2ROJMY" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".EditProfileActivity"
            android:exported="false"
            android:label="Edit Profile">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.OLAPark.NoActionBar"></activity>
        <activity
            android:name=".ProfileActivity"
            android:exported="true"
            android:label="@string/title_activity_profile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenuActivity" />
        </activity>
        <activity android:name=".ReportActivity"
            android:label="ReportActivity"
            android:theme="@style/Theme.OLAPark.NoActionBar" />
        <activity
            android:name=".MainMenuActivity"
            android:exported="true"
            android:label="@string/title_activity_main_menu"
            android:theme="@style/Theme.OLAPark.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.OLAPark.NoActionBar"></activity>
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.OLAPark.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.OLAPark.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <provider
            android:name="com.vansuita.pickimage.provider.PickImageFileProvider"
            android:authorities="${applicationId}.com.vansuita.pickimage.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/picker_provider_paths" />
        </provider>

        <receiver android:name=".ActivityTransitionReceiver"
            android:exported="false"
            android:permission="android.permission.ACTIVITY_RECOGNITION">
        </receiver>

    </application>

</manifest>